.plot{
	background-color: lightgrey;
}

#loginDialog .msg{
    font-weight: bold;
}

#error {
  border: 1px solid;
  margin: 0px 0px;
  padding:10px 10px 10px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('../images/error.png');
}