
#key_title{
	background-color:green;
}

#res_title{
	float: right;
	background-color: blue;
}

.plot{
	background-color: lightgrey;
}

.ctrl_panel{
    position: relative;
    clear: both;
}

.waiting{
    position: relative;
    top: 5px;
}

#loginDialog .msg{
    font-weight: bold;
}

#logoutButton{
    cursor:pointer;    
    float:right;
    display: block;
}

h1 {
	font-size: 40pt;
}

#error {
  border: 1px solid;
  margin: 0px 0px;
  padding:10px 10px 10px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('../images/error.png');
}